@import '../../style/theme.scss';

.add-form {
	grid-template-columns: repeat(2, 1fr);

	@media (min-width: 48em) {
		grid-template-columns: repeat(4, 1fr);
	}

	&__group:first-of-type {
		grid-column: 1 / 3;
	}

	&__submit {
		@media (min-width: 48em) {
			grid-column: 1 / 2;
		}
	}
}
