@import '../../../style/theme.scss';

.flip-history {
	width: 90vw;
	max-width: 55rem;
	background-color: $clr-bg-100;
	border-radius: 3px;
	padding: 0.5rem 1rem 1.5rem;
	margin: 2rem auto;
	box-shadow: 0 0 5px 2px rgba($clr-bg-900, 0.1);

	@media (min-width: 48em) {
		padding: 2rem 2rem 3rem;
		margin: 4rem auto;
	}
}

.pagination {
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-columns: repeat(auto-fit, 3rem);
	gap: 0.5rem;

	&__break,
	&__link,
	&__next,
	&__previous {
		display: inline-block;
		padding: 0.5rem 0.75rem;
		width: 3rem;
		border: 1px solid $clr-border;
		border-radius: $radius-border;
		cursor: pointer;

		&:not(.pagination__link--active):hover {
			background-color: $clr-bg-200;
		}

		&--active {
			color: $clr-text-100;
			font-weight: 700;
			background-color: $clr-accent;
			border-color: $clr-accent;
		}
	}
}
