$clr-danger: #ff9191;
$clr-success: #87de73;
$clr-accent: #50e1ff;

$clr-bg-100: #ffffff;
$clr-bg-200: #f9f9f9;
$clr-bg-400: #eeeeee;
$clr-bg-900: #333333;

$clr-font-100: #ffffff;
$clr-font-900: #333333;
