@import '../../../style/theme.scss';

.flip-history {
	width: 90%;
	max-width: 55rem;
	background-color: $clr-bg-100;
	border-radius: 3px;
	padding: 0.5rem 1rem 1.5rem;
	margin: 2rem auto;
	box-shadow: 0 0 5px 2px rgba($clr-bg-900, 0.1);

	@media (min-width: 48em) {
		padding: 2rem 2rem 3rem;
		margin: 4rem auto;
	}
}
